 <div>
  <h6>
    <%= pluralize @trucks.count, "Available Trucks" %>
  </h6>
</div>
<div class="cards">
  <% if @trucks.empty?%> 
    <h4> Please search again! </h4>
  <% else %>
    <% @trucks.each do |truck| %>
      <div class="card-product">
      
        <% if truck.photos.attached? %>
          <%= cl_image_tag truck.photos.first.key, class: "card-img" %>
        <% else %>
          <%= image_tag "van-placeholder.jpg" %>
        <% end %>
          
        <%= link_to truck_path(truck) do %>
          <div class="card-product-info">
            <h2><%= truck.title %></h2>
            <hr>
            <h3><strong><%= truck.location %> </strong></h3>
            <h3> €xDay : <%= truck.price_per_day.to_f / 100 %></h3>
            <h3> Size: <%= truck.size %></h3>
          </div>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>