<div class="container mt-5">
  <h2>Check out the trucks up for rent around you!</h2>
  <%= render "trucks/map" %>
  <div>
    <%= render "trucks/search_bar" %>
  </div>

  <div class="cards">
    <% @trucks.each do |truck| %>
    <div class="card-product">
      <div class="card-product-infos">
        <h2><%= link_to truck.title, truck_path(truck) %></h2>
        <hr>
        <h3><strong><%= truck.location %> </strong></h3>
        <h3> €xDay : <%= truck.price_per_day.to_f / 100 %></h3>
        <h3> Size: <%= truck.size %></h3>
      </div>
    </div>
    <% end %>
  </div>

  <br>

  <div class="link">
   <%= link_to "Offer your truck", new_truck_path, class: "btn btn-success" %>
 </div>
</div>
