<div class="container mt-5">
  <p id="notice"><%= notice %></p>

  <h1>Overview of Trucks</h1>

</div>

<div class="container mt-5">
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Location</th>
        <th>Price / Day</th>
        <th>Size</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @trucks.each do |truck| %>
        <tr>
          <td><%= truck.title %></td>
          <td><%= truck.location %></td>
          <td><%= truck.price_per_day.to_f/100 %></td>
          <td><%= truck.size %></td>
          <td><%= link_to 'Learn more', truck %></td>
        </tr>
      <% end %>
    </tbody>
  </table

</div>

<br>

<div class=link>
  <%= link_to 'Offer your truck', new_truck_path, class: "btn btn-light" %>
</div>
<br>

