<div class="container mt-5">
  <h1>Choose a Truck</h1>

  <div class="content">
      <div id="map"
          style="width: 100%; height: 600px;"
          data-markers="<%= @markers.to_json %>"
          data-mapbox-api-key="<%= ENV["MAPBOX_API_KEY"] %>">
     </div>
  </div>

  <div class="cards">
    <% @trucks.each do |truck| %>
      <div class="card-product">
        <% if truck.photos.attached? %>
          <%= cl_image_tag truck.photos.first.key, class: "card-img" %>
        <% else %>
          <img src="https://multicorenational.co.uk/wp-content/uploads/2017/12/van-vector.jpg">
        <% end %>
        
        <div class="card-product-infos">
          <h2><%= link_to truck.title, truck_path(truck) %></h2>
          <hr>
          <h3><strong><%= truck.location %> </strong></h3>
          <h3> €xDay : <%= truck.price_per_day.to_f / 100 %></h3>
          <h3> Size: <%= truck.size %></h3>
        </div>
      </div>
    <% end %>
  </div>


  <br>
  <div class="link">
    <%= link_to "Offer your truck", new_truck_path, class: "btn btn-success" %>
  </div>
</div>
