<div class="container mt-5">
<div class="card">
<h1>Congratulations! You have completed the booking </h1>
<h6> You will get a notification about the status of the booking soon.. </h6>
<hr>

<h4><strong> Information about the truck</strong></h4>
<p>Title: <%=@truck.title %></p>
<p>Location: <%= @truck.location %></p>
<p>Price per day:€ <%= @truck.price_per_day.to_f/100 %>
<p>Size of truck: <%= @truck.size %>
<p>Description: <%= @truck.description %>
<hr>
<h4><strong> Information about the booking</strong></h4>
<p>Start date: <%= @booking.start_date %></p>
<p>End date: <%= @booking.end_date %></p>
</div>

<%= link_to 'Edit this booking' , edit_booking_path(@booking), class: "btn btn-success btn-sm mt-3 mb-3 float-right"%>

<%= link_to 'See all bookings' , bookings_path,class: "btn btn-secondary btn-sm mt-3 mb-3 float-left" %>
